@model ListReservationViewModel
@{
    ViewData["Title"] = "Delete une reservation";
}

<div id="product-list-page">
    <div class="page-title">
        <h2>Delete une reservation</h2>
    </div>

</div>