@model CreateEditMenuViewModel
@{
    ViewData["Title"] = "Ajouter un choix de menu";
}

<div id="product-list-page">
    <div class="page-title">
        <h2>Ajouter un choix de menu</h2>
    </div>

</div>