@model ListMenuViewModel
@{
    ViewData["Title"] = "Editer un choix de menu";
}

<div id="product-list-page">
    <div class="page-title">
        <h2>Editer un choix de menu</h2>
    </div>      

</div>